.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.wizard-container {
  text-align: 'center';
  margin-bottom: '50px';
  margin-top: '10px'
}

.wizard-image {
  width: '100%';
  max-width: '742px';
  height: '611';
  aspect-ratio: 'auto 742/611';
}

@media (max-width: 768px) {
  .wizard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
}
